/* body {
  background-image: url("/assets/img/background2.jpg");
  background-color: ;
} */

nav {
  margin-bottom: 15px;
}

.cardSize {
  margin-left: 2px;
}

.card-img-top {
  width: 100px;
  height: 100px;
}
